{{ define "content" }}

<section class="portfolio-section" id="portfolio">
  <div class="container">
    <h2 class="section-title">Nasze portfolio</h2>
    <p class="section-subtitle">Tutaj znajdują się projekty które wykonaliśmy na zamówienia naszych klientów</p>

    <div class="portfolio-grid">
      <div class="portfolio-box fade-in">
        <h3>Strona 1</h3>
        <p>Strona do rekrutacji za granice na studia</p>
        <a href="https://example.com" target="_blank" class="project-link">View Project</a>
      </div>

      <div class="portfolio-box fade-in">
        <h3>Strona 2</h3>
        <p>Strona dla kancelarii</p>
        <a href="https://example.com" target="_blank" class="project-link">View Project</a>
      </div>

      <div class="portfolio-box fade-in">
        <h3>Strona 3</h3>
        <p>Strona dla domków</p>
        <a href="https://example.com" target="_blank" class="project-link">View Project</a>
      </div>

      <div class="portfolio-box fade-in">
        <h3>Strona 4</h3>
        <p>Strona dla firmy budowlanej</p>
        <a href="https://example.com" target="_blank" class="project-link">View Project</a>
      </div>

      <div class="portfolio-box fade-in">
        <h3>Strona 5</h3>
        <p>Jeszcze nie wiem</p>
        <a href="https://example.com" target="_blank" class="project-link">View Project</a>
      </div>

      <div class="portfolio-box fade-in">
        <h3>Strona 6</h3>
        <p>Tezz jeszcze nie wiem</p>
        <a href="https://example.com" target="_blank" class="project-link">View Project</a>
      </div>


      <!-- Add more portfolio-boxes as needed -->
    </div>
  </div>
</section>

{{ end }}