{{ define "base.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FullSteak</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/blog.css">
  <link rel="stylesheet" href="/static/css/article.css">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <a href="/">FullSteak</a>
    </div>
    <ul class="nav-links">
      <a href="/#about"><li>About Us</li></a>
      <a href="/#services"><li>Services</li></a>
      <a href="/#contact"><li>Contact</li></a>
      <a href="/blog"><li>blog</li></a>
    </ul>
  </nav>

  {{ template "content" .}}

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container">
      <p>&copy; 2025 FullSteak. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
  </footer>

</body>
</html>

{{ end }}