{{ define "content" }}

<!-- Blog Section -->
<section class="blog">
  <div class="container">
    <h1>Our Latest Articles</h1>
    <div class="articles">
      <!-- Article Card 1 -->
      <div class="article-card">
        <img src="/static/img/sample.jpg" alt="Article Image">
        <div class="article-content">
          <h2>Article Title One</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod nunc sit amet odio dictum...</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>

      <!-- Article Card 2 -->
      <div class="article-card">
        <img src="/static/img/sample.jpg" alt="Article Image">
        <div class="article-content">
          <h2>Article Title Two</h2>
          <p>Donec auctor mauris ut mauris imperdiet, at facilisis magna malesuada. Etiam suscipit dolor ut velit...</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>

      <!-- Article Card 3 -->
      <div class="article-card">
        <img src="/static/img/moon.jpg" alt="Article Image">
        <div class="article-content">
          <h2>Article Title Three</h2>
          <p>Quisque fermentum, purus eget auctor vehicula, lacus tortor condimentum orci, at vehicula arcu dui vel...</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>

      <!-- Article Card 4 -->
      <div class="article-card">
        <img src="/static/img/sample.jpg" alt="Article Image">
        <div class="article-content">
          <h2>Article Title Four</h2>
          <p>Aenean eu velit sit amet orci pretium volutpat. Fusce lacinia ut libero non pretium. Curabitur...</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>

      <!-- Article Card 5 -->
      <div class="article-card">
        <img src="/static/img/sample.jpg" alt="Article Image">
        <div class="article-content">
          <h2>Article Title Four</h2>
          <p>Aenean eu velit sit amet orci pretium volutpat. Fusce lacinia ut libero non pretium. Curabitur...</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>

      <!-- Article Card 6 -->
      <div class="article-card">
        <img src="/static/img/sample.jpg" alt="Article Image">
        <div class="article-content">
          <h2>Article Title Four</h2>
          <p>Aenean eu velit sit amet orci pretium volutpat. Fusce lacinia ut libero non pretium. Curabitur...</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
      <a href="#" class="prev" style="margin-right: 20px;">&#60;</a>
      <a href="#" class="page-number">1</a>
      <a href="#" class="page-number">2</a>
      <a href="#" class="page-number">3</a>
      <a href="#" class="next" style="margin-left: 20px;">&gt;</a>
    </div>
  </div>
</section>

{{ end }}