{{ define "base.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Articles - BeigeBoard</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/admin/styles.css" />
</head>
<body>
    <div class="layout">
        <nav class="sidebar">
            <div class="logo">BeigeBoard</div>
            <a href="/admin/articles" class="active">📄 Articles</a>
            <a href="/admin/statistics">📊 Statistics</a>
            <a href="/admin/logout">🚪 Logout</a>
        </nav>

        <main>
            {{ template "content" .}}
        </main>
    </div>
</body>
</html>
{{ end }}