{{ define "content" }}

<div class="row">
  <div class="col s10 m10 l5 offset-s1 offset-m1">
      <div class="container">
      <div class="row" style="margin-top: 40px;">
          <form class="col s12 center-align" style="margin: 8px; color:black" action="/admin/articles/{{ .Id }}/update" method="post">
              <span style="font-size: xx-large;">Edit article</span>
              <div class="row" style="margin-top: 20px;">
                <div class="input-field col s6">
                  <textarea name="title" id="title" class="materialize-textarea">{{ .Title }}</textarea>
                  <label for="title">Title</label>
                </div>
                <div class="input-field col s4 offset-s2">
                  <label class="center-align">
                    <input name="public" id="public" type="checkbox" class="filled-in" checked="checked" />
                    <span>Public</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea name="desc" id="desc" class="materialize-textarea">{{ .Description }}</textarea>
                  <label for="desc">Description</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea name="content" id="content" class="materialize-textarea">{{ .Content }}</textarea>
                  <label for="content">Content</label>
                </div>
              </div>
              <div class="row center-align">
                <a class="btn waves-effect waves-light modal-trigger col s3" href="#example-modal">OPEN GALLERY</a>
                <button class="col s8 offset-s1 btn waves-effect waves-light" type="submit">UPDATE ARTICLE
                  <i class="material-icons right">send</i>
                </button>
              </div>
          </form>
      </div>
      <div class="row" style="margin-top: 40px;">
        <form class="col s12 center-align" style="margin: 8px; color:black" action="/admin/articles/{{ .Id }}/delete" method="post">
          <div class="row">
            <div class="input-field col s12">
              <textarea name="check" id="check" class="materialize-textarea"></textarea>
              <label for="check">Type "I'm sure." to delete this article.</label>
            </div>
          </div>
          <div class="row center-align">
            <button disabled id="deleteBtn" class="col s8 offset-s2 btn waves-effect waves-light red" type="submit">DELETE ARTICLE
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
  </div>
  </div>
</div>

<div id="editor">
    <p>Hello World!</p>
    <p>Some initial <strong>bold</strong> text</p>
    <p><br /></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script>
    const quill = new Quill('#editor', {
      theme: 'snow'
    });
</script>

{{ end }}